name: Terraform DevSecOps Pipeline
on:

 pull_request:
  branches:
   - main
 push:
  branches:
   - main

permissions:
 id-token: write
 contents: read


jobs:


 security:

  runs-on: ubuntu-latest


  steps:


   - name: Checkout

     uses: actions/checkout@v4


   - name: Setup Terraform

     uses: hashicorp/setup-terraform@v3


   - name: Terraform Init

     run: terraform init

     working-directory: terraform


   - name: Terraform Validate

     run: terraform validate

     working-directory: terraform


   - name: Checkov Scan

     uses: bridgecrewio/checkov-action@master

     with:

      directory: terraform


   - name: Gitleaks Scan

     uses: gitleaks/gitleaks-action@v2



 deploy:


  needs: security
  runs-on: ubuntu-latest

  if: github.ref == 'refs/heads/main'

  steps:


   - name: Checkout

     uses: actions/checkout@v4


   - name: Setup Terraform

     uses: hashicorp/setup-terraform@v3


   - name: Vault Authentication

     uses: hashicorp/vault-action@v2

     with:

      url: http://13.61.182.181:8200

      method: jwt

      role: github-role


   - name: Terraform Init

     run: terraform init

     working-directory: terraform


   - name: Terraform Apply

     run: terraform apply -auto-approve

     working-directory: terraform
